<!--<h1>Hi</h1>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Donation</title>
    <link href="index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body class="index">
<div class="center">
    <h1 class="padding-top-5">Food Donation</h1>
    <button class="index_button">Log In</button>
    <button class="index_button">Sign Up</button>
</div>
</body>
</html>